<!-- Validation failure messages -->
<% if $user.errors.any? %>
<% $user.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<!DOCTYPE html>
<html>
<head>
  <title>Saint Pablo</title>

  <style>
  body{background-image: url("http://i.imgur.com/CWlpk03.jpg");
  background-size: 300px 300px;
  /*background-repeat: no-repeat;*/
}
</style>

</head>
</html>


<nav class="main-nav">
  <ul>
    <li><a class="signin" href="#0">Sign in</a></li>
    <li><a class="signup" href="#0">Sign up</a></li>
  </ul>
</nav>

<div class="user-modal">
  <div class="user-modal-container">
    <ul class="switcher">
      <li><a href="#0">Sign in</a></li>
      <li><a href="#0">New account</a></li>
    </ul>

    <div id="login">
      <form action = "/sessions/login_success" class="form" method = "get">
        <p class="fieldset">
          <label class="image-replace email" for="signin-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signin-email" type="email" name="email" placeholder="E-mail">
          <!-- <span class="error-message">An account with this email address does not exist!</span> -->
        </p>

        <p class="fieldset">
          <label class="image-replace password" for="signin-password">Password</label>
          <input class="full-width has-padding has-border" id="signin-password" type="password"  name="password" placeholder="Password">
          <a href="#0" class="hide-password">Show</a>
          <!-- <span class="error-message">Wrong password! Try again.</span> -->
        </p>

        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Remember me</label>
        </p>

        <p class="fieldset">
          <input class="full-width" type="submit" value="Login">
        </p>
      </form>

      <p class="form-bottom-message"><a href="#0">Forgot your password?</a></p>
      <!-- <a href="#0" class="close-form">Close</a> -->
    </div>

    <div id="signup">
      <form action = "/sessions/signup" method = "get" class="form">
        <p class="fieldset">
          <label class="image-replace username" for="signup-username">Username</label>
          <input class="full-width has-padding has-border" id="signup-username" type="text" name="user_name" placeholder="Username">
          <!-- <span class="error-message">Your username can only contain numeric and alphabetic symbols!</span> -->
        </p>

        <p class="fieldset">
          <label class="image-replace email" for="signup-email">E-mail</label>
          <input class="full-width has-padding has-border" id="signup-email" type="email" name="email" placeholder="E-mail">
          <!-- <span class="error-message">Enter a valid email address!</span> -->
        </p>

        <p class="fieldset">
          <label class="image-replace password" for="signup-password">Password</label>
          <input class="full-width has-padding has-border" id="signup-password" type="password"  name="password" placeholder="Password">
          <a href="#0" class="hide-password">Show</a>
          <!-- <span class="error-message">Your password has to be at least 6 characters long!</span> -->
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="first_name" name="first_name" placeholder="First Name">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="last_name" name="last_name" placeholder="Last Name">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="address" name="address" placeholder="Address">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="address_2" name="address_2" placeholder="Address 2">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="city" name="city" placeholder="City">
        </p>

        <p>
          <%= select_tag :state, options_for_select(us_states), :class => "full-width has-padding has-border" %>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="zip_code" name="zip_code" placeholder="Zip Code">
        </p>

        <p class="fieldset">
          <input type = "hidden" class="full-width has-padding has-border" id="country" name="country" placeholder="Country" value = "United States">
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="card_number" name="card_number" placeholder="Credit Card Number">
        </p>

        <p>
          <%= select_tag :exp_month_name, options_for_select(month_names), :class => "full-width has-padding has-border" %>
        </p>

        <p>
          <%= select_tag :exp_month_year, options_for_select(years), :class => "full-width has-padding has-border" %>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding has-border" id="security_code" name="security_code" placeholder="Security Code">
        </p>

        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">I agree to the <a class="accept-terms" href="#0">Terms</a></label>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account">
        </p>
      </form>

      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div>

    <div id="reset-password">
      <p class="form-message">Lost your password? Please enter your email address.</br> You will receive a link to create a new password.</p>

      <form class="form">
        <p class="fieldset">
          <label class="image-replace email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="error-message">An account with this email does not exist!</span>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Reset password">
        </p>
      </form>

      <p class="form-bottom-message"><a href="#0">Back to log-in</a></p>
    </div>
    <a href="#0" class="close-form">Close</a>
  </div>
</div>
