
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Donate to the ACLU | American Civil Liberties Union</title>
    <meta http-equiv="imagetoolbar" content="no" />
    <!-- Emulate IE configuration -->
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9,IE=10"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" href="/files/aclu_favicon.ico" type="image/x-icon" />
<link rel="canonical" href="https://action.aclu.org/secure/donate-to-aclu" />
<meta name="revisit-after" content="1 day" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:description" content="Donate to the ACLU today to help protect the rights and liberties of people across the country. Right now, we're:

	Protecting free speech and the right to protest
	Defending reproductive freedom
	Fighting anti-LGBT discrimination
	Safeguarding the rights of refugees and immigrants

This vital work and more depends on your support." />
<meta property="twitter:site" content="@ACLU" />
<meta property="twitter:title" content="Donate to the ACLU" />
<meta property="twitter:url" content="https://action.aclu.org/secure/donate-to-aclu" />
<meta property="og:image" content="https://action.aclu.org/sites/default/files/share_images/immigrant-rights-1_jpg.jpg"/><meta property="og:site_name" content="American Civil Liberties Union"/><meta property="og:description" content="I just made a donation to the ACLU. They’re defending our fundamental freedoms, from free speech to reproductive rights, and they need our support. They’ll take on anyone who violates civil liberties—including Donald Trump. Donate today: aclu.org/ProtectPeoplesRights"/><meta property="og:title" content="Donate to the ACLU"/><meta property="og:type" content="article"/><meta property="og:url" content="https://action.aclu.org/secure/donate-to-aclu"/>
    <link type="text/css" rel="stylesheet" media="all" href="https://action.aclu.org/sites/default/files/advagg_css/css_311cb5435eeaf9fedc4c4fb38892b7a3_15.css" />
<link type="text/css" rel="stylesheet" media="print" href="https://action.aclu.org/sites/default/files/advagg_css/css_463c746a1bcadffbd0eb52d132fe6d0b_14.css" />
<link type="text/css" rel="stylesheet" media="screen" href="/sites/all/themes/aclu/styles/spin.css?n" />
<!--[if IE]>
<link type="text/css" rel="stylesheet" media="all" href="/sites/all/themes/aclu/ie.css?n" />
<![endif]-->
    <script type="text/javascript" src="https://action.aclu.org/sites/default/files/advagg_js/js_08e17234279db51cc4089f3fa1835b41_1991.js"></script>
<script type="text/javascript" src="/sites/all/libraries/mbox/mbox.js?n"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, {"basePath":"\/","market_source":{"qs_keys":{"initial_referrer":{"value":null,"persistence":1},"referrer":{"value":null,"persistence":1},"ms":{"value":null,"persistence":0},"cid":{"value":null,"persistence":0},"s_src":{"value":null,"persistence":0},"o_src":{"value":null,"persistence":1},"Form_Affiliation":{"value":null,"persistence":0},"ms_title":{"value":null,"persistence":0},"profile_nid":{"value":null,"persistence":0},"ms_path":{"value":null,"persistence":0},"alt_src":{"value":null,"persistence":0},"issue":{"value":null,"persistence":0}},"maxlength":255,"cookie_domain":".aclu.org","form_keys":{"webform-client-form-58735":{"initial_referrer":"edit-submitted-initial-referrer","referrer":"edit-submitted-referrer","ms":"edit-submitted-ms","cid":"edit-submitted-cid","s_src":"edit-submitted-s-src","o_src":"edit-submitted-o-src","Form_Affiliation":"edit-submitted-Form-Affiliation","ms_title":"edit-submitted-ms-title","ms_path":"edit-submitted-ms-path","alt_src":"edit-submitted-alt-src"}}},"ahah":{"edit-submitted-billing-information-country":{"url":"\/fundraiser\/js\/state","event":"change","keypress":null,"wrapper":"zone-select-wrapper-58735","selector":"#edit-submitted-billing-information-country","effect":"none","method":"replace","progress":{"type":"throbber"},"button":false,"immutable":true}},"CToolsUrlIsAjaxTrusted":{"\/secure\/donate-to-aclu":true},"aclu_ask":{"recurring_options":{"20":"$20","30":"$30","40":"$40","other":"Other"},"recurring_default":null,"recurring_position":null,"regular_options":{"35":"$35","50":"$50","75":"$75","100":"$100","20":"$20 HIDDEN","20_monthly":"$20_monthly","30":"$30 HIDDEN","30_monthly":"$30_monthly","40":"$40 HIDDEN","40_monthly":"$40_monthly","other":"Other"},"regular_default":null},"check_paypal_webform_client_form_58735":"1","linkplacement":"donate|nocpi|\/secure\/donate-to-aclu","og":{"group_context":{"nid":"30115","title":"National ACLU","type":"access_group"}}});
//--><!]]>
</script>
</head>

<body  class="main-site default-form-wrapper page not-front not-logged-in node-type-donation-form no-sidebars og-context og-context-30115 page-secure-donate-to-aclu section-secure page-secure-donate-to-aclu section-secure not-logged-in">
    <div id="container">
    <div class="header-webform" role="banner">
      <div class="width-container nav-container">
                <ul class="logo-nav">
          <li>
            <a href="https://www.aclu.org" title="Return to the American Civil Liberties Union home page" class="logo" rel="home">Return to the American Civil Liberties Union home page</a>          </li>
        </ul>
        <ul id="header-webform-nav">
            <li class="menu-item-search">
              <div id="block-search-form" role="search">
                <div class="search-header"><a href="https://www.aclu.org/search" target="_blank" class="search-link"><span>Search form</span></a></div>
              </div>
            </li>
                     <li class="menu-item-act"><a href="https://www.aclu.org/action">Act</a></li>
                    <li class="menu-item-donate"><a href="https://www.aclu.org/donate">Donate</a></li>
        </ul>
              </div>
    </div> <!--/header-->

    <div id="wrapper" class="clear-block width-container">
      <div id="innerwrapper">
        <div id="content">


          <div id="content-header">
                                                                                    </div> <!-- /#content-header -->


                      <div id="content-middle">
                            <div class="iframe-wrapper">
              <div id="node-58735" class="node node-type-donation-form node-promoted build-mode-full  lede-mobile form-display clearfix">
		<span class="test"></span>
	<div class="title-wrapper"><h1 class="page-title">Donate to the ACLU</h1></div>

	   <h2 class="page-subtitle">Help Protect Civil Liberties</h2>


	<div id="innercontent" class="node node-type-donation-form node-promoted build-mode-full clearfix">
	  <div class="content  lede-mobile" >
  	  <div class="body-wrapper  lede-mobile ">



              <div class="mobile-only-content"><p>Donate to the ACLU today to help protect the rights and liberties of people across the country. Right now, we're:</p>
<ul>
	<li>Protecting free speech and the right to protest</li>
	<li>Defending reproductive freedom</li>
	<li>Fighting anti-LGBT discrimination</li>
	<li>Safeguarding the rights of refugees and immigrants</li>
</ul>
<p>This vital work and more depends on your support. Make a donation to the ACLU today — help us fight back.</p></div>
                          <div class="full-content"><p>Donate to the ACLU today to help protect the rights and liberties of people across the country. Right now, we're:</p>
<ul>
	<li>Protecting free speech and the right to protest</li>
	<li>Defending reproductive freedom</li>
	<li>Fighting anti-LGBT discrimination</li>
	<li>Safeguarding the rights of refugees and immigrants</li>
</ul>
<p>This vital work and more depends on your support. Make a donation to the ACLU today — help us fight back.</p>
<p>
	<style type="text/css">
#node-58735#recurring-message.show-msg { display: inline-block !important;}	</style>
	<script type="text/javascript">
$(function() {
$("#node-58735.node-type-donation-form #recurring-message.show-msg .message").text("A monthly gift does even more to protect civil liberties.");
});
</script>
	<style type="text/css">
#node-58735.node-type-donation-form #recurring-message.show-msg {display: block;}
#node-58735.node-type-donation-form #recurring-message div.message-wrapper {display: block;}	</style>
</p>
</div>
  	  </div>
  	  <p class="disclaimer">Contributions to the American Civil Liberties Union are not tax deductible.</p>	    <form action="/secure/donate-to-aclu"  accept-charset="UTF-8" method="post" id="webform-client-form-58735" class="webform-client-form" enctype="multipart/form-data">
<div><div id="donation-form-column-wrapper" class="one-column">
  <div class="form-required-info"><span title="Indicates required field." class="form-required">*</span> indicates required field</div>
<div id="recurring-message">
<div class="message-wrapper">
<div class="message">Donate monthly & a contributor will give an extra gift!</div>
<div class="custom-message"></div>
<div class="icon"><div class="arrow">&nbsp;</div></div>
</div>
</div>
    <fieldset class="webform-component-fieldset" id="webform-component-donation"><legend>Donation</legend><div class="webform-component webform-component-radios" id="webform-component-donation--aclu-recurring"><div class="form-item">
 <label>Type <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-radios"><div class="form-item" id="edit-submitted-donation-aclu-recurring-1-wrapper">
 <label class="option" for="edit-submitted-donation-aclu-recurring-1"><input type="radio" id="edit-submitted-donation-aclu-recurring-1" name="submitted[donation][aclu_recurring]" value="0"  checked="checked"  class="form-radio" /> One-time</label>
</div>
<div class="form-item" id="edit-submitted-donation-aclu-recurring-2-wrapper">
 <label class="option" for="edit-submitted-donation-aclu-recurring-2"><input type="radio" id="edit-submitted-donation-aclu-recurring-2" name="submitted[donation][aclu_recurring]" value="1"   class="form-radio" /> Monthly</label>
</div>
</div>
</div>
</div><div class="webform-component webform-component-radios" id="webform-component-donation--amount"><div class="form-item">
 <label>Select Gift Amount <span class="form-required" title="This field is required.">*</span></label>
 <div class="form-radios"><div class="form-item" id="edit-submitted-donation-amount-1-wrapper">
 <label class="option" for="edit-submitted-donation-amount-1"><input type="radio" id="edit-submitted-donation-amount-1" name="submitted[donation][amount]" value="35"   class="aclu-once" /> $35</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-2-wrapper">
 <label class="option" for="edit-submitted-donation-amount-2"><input type="radio" id="edit-submitted-donation-amount-2" name="submitted[donation][amount]" value="50"   class="aclu-once" /> $50</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-3-wrapper">
 <label class="option" for="edit-submitted-donation-amount-3"><input type="radio" id="edit-submitted-donation-amount-3" name="submitted[donation][amount]" value="75"   class="aclu-once" /> $75</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-4-wrapper">
 <label class="option" for="edit-submitted-donation-amount-4"><input type="radio" id="edit-submitted-donation-amount-4" name="submitted[donation][amount]" value="100"   class="aclu-once" /> $100</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-6-wrapper">
 <label class="option" for="edit-submitted-donation-amount-6"><input type="radio" id="edit-submitted-donation-amount-6" name="submitted[donation][amount]" value="20"   class="aclu-recurring" /> $20</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-8-wrapper">
 <label class="option" for="edit-submitted-donation-amount-8"><input type="radio" id="edit-submitted-donation-amount-8" name="submitted[donation][amount]" value="30"   class="aclu-recurring" /> $30</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-10-wrapper">
 <label class="option" for="edit-submitted-donation-amount-10"><input type="radio" id="edit-submitted-donation-amount-10" name="submitted[donation][amount]" value="40"   class="aclu-recurring" /> $40</label>
</div>
<div class="form-item" id="edit-submitted-donation-amount-11-wrapper">
 <label class="option" for="edit-submitted-donation-amount-11"><input type="radio" id="edit-submitted-donation-amount-11" name="submitted[donation][amount]" value="other"   class="form-radio" /> Other</label>
</div>
<input type="radio" style="display:none;" id="amount-non" name="submitted[donation][amount]" value=""  /></div>
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-donation--other-amount"><div class="form-item" id="edit-submitted-donation-other-amount-wrapper">
 <label for="edit-submitted-donation-other-amount">Other </label>
 <span class="field-prefix">$</span> <input type="text" maxlength="128" name="submitted[donation][other_amount]" id="edit-submitted-donation-other-amount" size="10" value="" class="form-text" />
 <div class="description"><p>Minimum payment $5.00.</p>
</div>
</div>
</div></fieldset>
<fieldset class="webform-component-fieldset" id="webform-component-donor-information"><legend>Your Information</legend><div class="webform-component webform-component-textfield" id="webform-component-donor-information--first-name"><div class="form-item" id="edit-submitted-donor-information-first-name-wrapper">
 <label for="edit-submitted-donor-information-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[donor_information][first_name]" id="edit-submitted-donor-information-first-name" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-donor-information--last-name"><div class="form-item" id="edit-submitted-donor-information-last-name-wrapper">
 <label for="edit-submitted-donor-information-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[donor_information][last_name]" id="edit-submitted-donor-information-last-name" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-donor-information--email"><div class="form-item" id="edit-submitted-donor-information-email-wrapper">
 <label for="edit-submitted-donor-information-email">Email <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[donor_information][email]" id="edit-submitted-donor-information-email" size="60" value="" class="form-text required" />
</div>
</div></fieldset>
<fieldset class="webform-component-fieldset" id="webform-component-billing-information"><legend>Credit Card Billing Information</legend><div class="webform-component webform-component-textfield" id="webform-component-billing-information--zip"><div class="form-item" id="edit-submitted-billing-information-zip-wrapper">
 <label for="edit-submitted-billing-information-zip">ZIP/Postal Code <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="10" name="submitted[billing_information][zip]" id="edit-submitted-billing-information-zip" size="10" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-billing-information--address"><div class="form-item" id="edit-submitted-billing-information-address-wrapper">
 <label for="edit-submitted-billing-information-address">Address <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[billing_information][address]" id="edit-submitted-billing-information-address" size="60" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-billing-information--address-line-2"><div class="form-item" id="edit-submitted-billing-information-address-line-2-wrapper">
 <label for="edit-submitted-billing-information-address-line-2">Address Line 2 </label>
 <input type="text" maxlength="128" name="submitted[billing_information][address_line_2]" id="edit-submitted-billing-information-address-line-2" size="60" value="" class="form-text" />
</div>
</div><div class="webform-component webform-component-textfield" id="webform-component-billing-information--city"><div class="form-item" id="edit-submitted-billing-information-city-wrapper">
 <label for="edit-submitted-billing-information-city">City <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[billing_information][city]" id="edit-submitted-billing-information-city" size="60" value="" class="form-text required" />
</div>
</div><div id="zone-select-wrapper-58735"><div class="webform-component webform-component-select" id="webform-component-billing-information--state"><div class="form-item" id="edit-submitted-billing-information-state-wrapper">
 <label for="edit-submitted-billing-information-state">State/Province <span class="form-required" title="This field is required.">*</span></label>
 <select name="submitted[billing_information][state]" class="form-select required" id="edit-submitted-billing-information-state" ><option value="" selected="selected">Please select</option><option value="1">Alabama</option><option value="2">Alaska</option><option value="3">American Samoa</option><option value="4">Arizona</option><option value="5">Arkansas</option><option value="6">Armed Forces Africa</option><option value="7">Armed Forces Americas</option><option value="8">Armed Forces Canada</option><option value="9">Armed Forces Europe</option><option value="10">Armed Forces Middle East</option><option value="11">Armed Forces Pacific</option><option value="12">California</option><option value="13">Colorado</option><option value="14">Connecticut</option><option value="15">Delaware</option><option value="16">District of Columbia</option><option value="17">Federated States Of Micronesia</option><option value="18">Florida</option><option value="19">Georgia</option><option value="20">Guam</option><option value="21">Hawaii</option><option value="22">Idaho</option><option value="23">Illinois</option><option value="24">Indiana</option><option value="25">Iowa</option><option value="26">Kansas</option><option value="27">Kentucky</option><option value="28">Louisiana</option><option value="29">Maine</option><option value="30">Marshall Islands</option><option value="31">Maryland</option><option value="32">Massachusetts</option><option value="33">Michigan</option><option value="34">Minnesota</option><option value="35">Mississippi</option><option value="36">Missouri</option><option value="37">Montana</option><option value="38">Nebraska</option><option value="39">Nevada</option><option value="40">New Hampshire</option><option value="41">New Jersey</option><option value="42">New Mexico</option><option value="43">New York</option><option value="44">North Carolina</option><option value="45">North Dakota</option><option value="46">Northern Mariana Islands</option><option value="47">Ohio</option><option value="48">Oklahoma</option><option value="49">Oregon</option><option value="50">Palau</option><option value="51">Pennsylvania</option><option value="52">Puerto Rico</option><option value="53">Rhode Island</option><option value="54">South Carolina</option><option value="55">South Dakota</option><option value="56">Tennessee</option><option value="57">Texas</option><option value="58">Utah</option><option value="59">Vermont</option><option value="60">Virgin Islands</option><option value="61">Virginia</option><option value="62">Washington</option><option value="63">West Virginia</option><option value="64">Wisconsin</option><option value="65">Wyoming</option></select>
</div>
</div></div><div class="webform-component webform-component-select" id="webform-component-billing-information--country"><div class="form-item" id="edit-submitted-billing-information-country-wrapper">
 <label for="edit-submitted-billing-information-country">Country <span class="form-required" title="This field is required.">*</span></label>
 <select name="submitted[billing_information][country]" class="form-select required" id="edit-submitted-billing-information-country" ><option value="4">Afghanistan</option><option value="248">Aland Islands</option><option value="8">Albania</option><option value="12">Algeria</option><option value="16">American Samoa</option><option value="20">Andorra</option><option value="24">Angola</option><option value="660">Anguilla</option><option value="10">Antarctica</option><option value="28">Antigua and Barbuda</option><option value="32">Argentina</option><option value="51">Armenia</option><option value="533">Aruba</option><option value="36">Australia</option><option value="40">Austria</option><option value="31">Azerbaijan</option><option value="44">Bahamas</option><option value="48">Bahrain</option><option value="50">Bangladesh</option><option value="52">Barbados</option><option value="112">Belarus</option><option value="56">Belgium</option><option value="84">Belize</option><option value="204">Benin</option><option value="60">Bermuda</option><option value="64">Bhutan</option><option value="68">Bolivia</option><option value="70">Bosnia and Herzegovina</option><option value="72">Botswana</option><option value="74">Bouvet Island</option><option value="76">Brazil</option><option value="86">British Indian Ocean Territory</option><option value="96">Brunei Darussalam</option><option value="100">Bulgaria</option><option value="854">Burkina Faso</option><option value="108">Burundi</option><option value="116">Cambodia</option><option value="120">Cameroon</option><option value="124">Canada</option><option value="132">Cape Verde</option><option value="136">Cayman Islands</option><option value="140">Central African Republic</option><option value="148">Chad</option><option value="152">Chile</option><option value="156">China</option><option value="162">Christmas Island</option><option value="166">Cocos (Keeling) Islands</option><option value="170">Colombia</option><option value="174">Comoros</option><option value="178">Congo</option><option value="180">Congo, The Democratic Republic of the</option><option value="184">Cook Islands</option><option value="188">Costa Rica</option><option value="384">Cote D&#039;ivoire</option><option value="191">Croatia</option><option value="192">Cuba</option><option value="196">Cyprus</option><option value="203">Czech Republic</option><option value="208">Denmark</option><option value="262">Djibouti</option><option value="212">Dominica</option><option value="214">Dominican Republic</option><option value="218">Ecuador</option><option value="818">Egypt</option><option value="222">El Salvador</option><option value="226">Equatorial Guinea</option><option value="232">Eritrea</option><option value="233">Estonia</option><option value="231">Ethiopia</option><option value="238">Falkland Islands (Malvinas)</option><option value="234">Faroe Islands</option><option value="242">Fiji</option><option value="246">Finland</option><option value="250">France</option><option value="254">French Guiana</option><option value="258">French Polynesia</option><option value="260">French Southern Territories</option><option value="266">Gabon</option><option value="270">Gambia</option><option value="268">Georgia</option><option value="276">Germany</option><option value="288">Ghana</option><option value="292">Gibraltar</option><option value="300">Greece</option><option value="304">Greenland</option><option value="308">Grenada</option><option value="312">Guadeloupe</option><option value="316">Guam</option><option value="320">Guatemala</option><option value="831">Guernsey</option><option value="324">Guinea</option><option value="624">Guinea-bissau</option><option value="328">Guyana</option><option value="332">Haiti</option><option value="334">Heard Island and Mcdonald Islands</option><option value="340">Honduras</option><option value="344">Hong Kong</option><option value="348">Hungary</option><option value="352">Iceland</option><option value="356">India</option><option value="360">Indonesia</option><option value="364">Iran (Islamic Republic of)</option><option value="368">Iraq</option><option value="372">Ireland</option><option value="833">Isle of Man</option><option value="376">Israel</option><option value="380">Italy</option><option value="388">Jamaica</option><option value="392">Japan</option><option value="832">Jersey</option><option value="400">Jordan</option><option value="398">Kazakhstan</option><option value="404">Kenya</option><option value="296">Kiribati</option><option value="408">Korea, Democratic People&#039;s Republic of</option><option value="410">Korea, Republic of</option><option value="414">Kuwait</option><option value="417">Kyrgyzstan</option><option value="418">Lao People&#039;s Democratic Republic</option><option value="428">Latvia</option><option value="422">Lebanon</option><option value="426">Lesotho</option><option value="430">Liberia</option><option value="434">Libyan Arab Jamahiriya</option><option value="438">Liechtenstein</option><option value="440">Lithuania</option><option value="442">Luxembourg</option><option value="446">Macao</option><option value="807">Macedonia, The Former Yugoslav Republic of</option><option value="450">Madagascar</option><option value="454">Malawi</option><option value="458">Malaysia</option><option value="462">Maldives</option><option value="466">Mali</option><option value="470">Malta</option><option value="584">Marshall Islands</option><option value="474">Martinique</option><option value="478">Mauritania</option><option value="480">Mauritius</option><option value="175">Mayotte</option><option value="484">Mexico</option><option value="583">Micronesia, Federated States of</option><option value="498">Moldova, Republic of</option><option value="492">Monaco</option><option value="496">Mongolia</option><option value="499">Montenegro</option><option value="500">Montserrat</option><option value="504">Morocco</option><option value="508">Mozambique</option><option value="104">Myanmar</option><option value="516">Namibia</option><option value="520">Nauru</option><option value="524">Nepal</option><option value="528">Netherlands</option><option value="530">Netherlands Antilles</option><option value="540">New Caledonia</option><option value="554">New Zealand</option><option value="558">Nicaragua</option><option value="562">Niger</option><option value="566">Nigeria</option><option value="570">Niue</option><option value="574">Norfolk Island</option><option value="580">Northern Mariana Islands</option><option value="578">Norway</option><option value="512">Oman</option><option value="586">Pakistan</option><option value="585">Palau</option><option value="275">Palestinian Territory, Occupied</option><option value="591">Panama</option><option value="598">Papua New Guinea</option><option value="600">Paraguay</option><option value="604">Peru</option><option value="608">Philippines</option><option value="612">Pitcairn</option><option value="616">Poland</option><option value="620">Portugal</option><option value="630">Puerto Rico</option><option value="634">Qatar</option><option value="638">Reunion</option><option value="642">Romania</option><option value="643">Russian Federation</option><option value="646">Rwanda</option><option value="654">Saint Helena</option><option value="659">Saint Kitts and Nevis</option><option value="662">Saint Lucia</option><option value="666">Saint Pierre and Miquelon</option><option value="670">Saint Vincent and the Grenadines</option><option value="882">Samoa</option><option value="674">San Marino</option><option value="678">Sao Tome and Principe</option><option value="682">Saudi Arabia</option><option value="686">Senegal</option><option value="688">Serbia</option><option value="690">Seychelles</option><option value="694">Sierra Leone</option><option value="702">Singapore</option><option value="703">Slovakia</option><option value="705">Slovenia</option><option value="90">Solomon Islands</option><option value="706">Somalia</option><option value="710">South Africa</option><option value="239">South Georgia and the South Sandwich Islands</option><option value="724">Spain</option><option value="144">Sri Lanka</option><option value="736">Sudan</option><option value="740">Suriname</option><option value="744">Svalbard and Jan Mayen</option><option value="748">Swaziland</option><option value="752">Sweden</option><option value="756">Switzerland</option><option value="760">Syrian Arab Republic</option><option value="158">Taiwan, Province of China</option><option value="762">Tajikistan</option><option value="834">Tanzania, United Republic of</option><option value="764">Thailand</option><option value="626">Timor-leste</option><option value="768">Togo</option><option value="772">Tokelau</option><option value="776">Tonga</option><option value="780">Trinidad and Tobago</option><option value="788">Tunisia</option><option value="792">Turkey</option><option value="795">Turkmenistan</option><option value="796">Turks and Caicos Islands</option><option value="798">Tuvalu</option><option value="800">Uganda</option><option value="804">Ukraine</option><option value="784">United Arab Emirates</option><option value="826">United Kingdom</option><option value="840" selected="selected">United States</option><option value="581">United States Minor Outlying Islands</option><option value="858">Uruguay</option><option value="860">Uzbekistan</option><option value="548">Vanuatu</option><option value="336">Vatican City State (Holy See)</option><option value="862">Venezuela</option><option value="704">Viet Nam</option><option value="92">Virgin Islands (British)</option><option value="850">Virgin Islands (U.S.)</option><option value="876">Wallis and Futuna</option><option value="732">Western Sahara</option><option value="887">Yemen</option><option value="891">Yugoslavia</option><option value="894">Zambia</option><option value="716">Zimbabwe</option></select>
</div>
</div></fieldset>
<fieldset class="webform-component-fieldset" id="webform-component-credit-card-information"><legend>Credit Card Information</legend><div class="webform-component webform-component-textfield" id="webform-component-credit-card-information--card-number"><div class="form-item" id="edit-submitted-credit-card-information-card-number-wrapper">
 <label for="edit-submitted-credit-card-information-card-number">Card Number <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="128" name="submitted[credit_card_information][card_number]" id="edit-submitted-credit-card-information-card-number" size="20" value="" class="form-text required" />
</div>
</div><div class='expiration-date-wrapper clear-block'><div class="webform-component webform-component-select" id="webform-component-credit-card-information--expiration-date--card-expiration-month"><div class="form-item" id="edit-submitted-credit-card-information-expiration-date-card-expiration-month-wrapper">
 <label for="edit-submitted-credit-card-information-expiration-date-card-expiration-month">Expiration Date <span class="form-required" title="This field is required.">*</span></label>
 <select name="submitted[credit_card_information][expiration_date][card_expiration_month]" class="form-select required" id="edit-submitted-credit-card-information-expiration-date-card-expiration-month" ><option value="">- Select -</option><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option value="5" selected="selected">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select><label class="visuallyhidden"  for="edit-submitted-credit-card-information-expiration-date-card-expiration-year">Year <span class="form-required" title="This field is required.">*</span></label>
 <select name="submitted[credit_card_information][expiration_date][card_expiration_year]" class="form-select required" id="edit-submitted-credit-card-information-expiration-date-card-expiration-year" ><option value="2017" selected="selected">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option></select>
</div>
</div></div><div class="webform-component webform-component-textfield" id="webform-component-credit-card-information--card-cvv"><div class="form-item" id="edit-submitted-credit-card-information-card-cvv-wrapper">
 <label for="edit-submitted-credit-card-information-card-cvv">Card Security Code <span class="form-required" title="This field is required.">*</span></label>
 <input type="text" maxlength="4" name="submitted[credit_card_information][card_cvv]" id="edit-submitted-credit-card-information-card-cvv" size="5" value="" class="form-text required" />
</div>
</div><div class="webform-component webform-component-checkboxes" id="webform-component-credit-card-information--fight-for-freedom"><div class="form-item">
 <label>Fight for Freedom </label>
 <div class="form-checkboxes"><div class="form-item" id="edit-submitted-credit-card-information-fight-for-freedom-1-wrapper">
 <label class="option" for="edit-submitted-credit-card-information-fight-for-freedom-1"><input type="checkbox" name="submitted[credit_card_information][fight_for_freedom][1]" id="edit-submitted-credit-card-information-fight-for-freedom-1" value="1"  checked="checked"  class="form-checkbox" /> Get updates on the Fight for Freedom. An informed membership is freedom's best defense. Sign up for ACLU emails to keep informed and know when to act.</label>
</div>
</div>
</div>
</div><div class="webform-component webform-component-checkboxes" id="webform-component-credit-card-information--profile-may-we-share-your-info"><div class="form-item">
 <label>May we share your info? </label>
 <div class="form-checkboxes"><div class="form-item" id="edit-submitted-credit-card-information-profile-may-we-share-your-info-1-wrapper">
 <label class="option" for="edit-submitted-credit-card-information-profile-may-we-share-your-info-1"><input type="checkbox" name="submitted[credit_card_information][profile_may_we_share_your_info][1]" id="edit-submitted-credit-card-information-profile-may-we-share-your-info-1" value="1"   class="form-checkbox" /> Yes, you may share my name and mailing address with other charities.</label>
</div>
</div>
 <div class="description"><p>(Allowing the ACLU to exchange your name helps us to grow our membership and better protect civil liberties.)&nbsp;<a target="_new" href="/address-share" rel="nofollow">Click here to find out more.</a></p>
</div>
</div>
</div></fieldset>
<input type="hidden" name="submitted[cid]" id="edit-submitted-cid" value="70114000002Jq0nAAC"  />
<input type="hidden" name="submitted[ms]" id="edit-submitted-ms" value="web_seo_donate"  />
<input type="hidden" name="submitted[referrer]" id="edit-submitted-referrer" value=""  />
<input type="hidden" name="submitted[Form_Affiliation]" id="edit-submitted-Form-Affiliation" value="NAT"  />
<input type="hidden" name="submitted[initial_referrer]" id="edit-submitted-initial-referrer" value=""  />
<input type="hidden" name="submitted[o_src]" id="edit-submitted-o-src" value=""  />
<input type="hidden" name="submitted[ms_path]" id="edit-submitted-ms-path" value="http://www.aclu.org/node/58735"  />
<input type="hidden" name="submitted[s_src]" id="edit-submitted-s-src" value="UNW170001SEO"  />
<input type="hidden" name="submitted[alt_src]" id="edit-submitted-alt-src" value="UNV170001SEO"  />
<input type="hidden" name="submitted[ms_title]" id="edit-submitted-ms-title" value="Donate to the ACLU"  />
<input type="hidden" name="submitted[wf_test]" id="edit-submitted-wf-test" value=""  />
  <div id="donation-form-footer">
  	 <input type="hidden" name="details[sid]" id="edit-details-sid" value=""  />
<input type="hidden" name="details[page_num]" id="edit-details-page-num" value="1"  />
<input type="hidden" name="details[page_count]" id="edit-details-page-count" value="1"  />
<input type="hidden" name="details[finished]" id="edit-details-finished" value="0"  />
<input type="hidden" name="form_build_id" id="form-ngPTI2btDi-k-t6L3y5NLEN_PDLlW8wPnXSp0TfAA8E" value="form-ngPTI2btDi-k-t6L3y5NLEN_PDLlW8wPnXSp0TfAA8E"  />
<input type="hidden" name="form_id" id="edit-webform-client-form-58735" value="webform_client_form_58735"  />
<div class="honeypot-textfield"><div class="form-item" id="edit-aclu-name-wrapper">
 <label for="edit-aclu-name">Leave this field blank </label>
 <input type="text" maxlength="128" name="aclu-name" id="edit-aclu-name" size="20" value="" class="form-text" />
</div>
</div><div id="edit-actions" class="form-actions form-wrapper"><input type="submit" name="op" id="edit-submit" value="Submit"  class="form-submit" />
<input type="submit" name="op" id="edit-paypal-submit" value="PayPal"  class="form-submit" />
</div>	<div id="extra-fields-wrapper">
           <div class="signup-wrapper">
              <div id="easy-signup-wrapper" class="webform-component webform-component-checkboxes">
               <div class="form-item">
               <div class="form-checkboxes"><div id="email-signup-wrapper" class="form-item donation-buttons-signup">
               <input type="checkbox" class="form-checkbox email-signup-simple" checked="checked" value="2" id="email-signup-simple-58735" name="email-signup-simple-58735">
                <label for="email-signup-simple-58735" class="option"> Get ACLU email updates</label>
		</div>
		</div>
		</div>
		</div>
 	      </div>
		<div id="payment-options" style="display: inline;">
			<div class="form-item" style="display: inline;">
		 	   <div class="form-radios">
                                <div id="pay-with-cc-wrapper" class="form-item">
				 <input type="radio" class="form-radio pay-with-cc" value="0" name="submitted[donation][payment_options]" id="pay-with-cc-58735"><label for="pay-with-cc-58735" class="option payment"><span rel="Donate With Credit Card" class="button-label"><span>Donate With Credit Card</span></span></label>
				</div>
				<div id="pay-with-other-wrapper" class="form-item">
				 <input type="radio" class="form-radio pay-with-other" value="1" name="submitted[donation][payment_options]" id="pay-with-other-58735"><label for="pay-with-other-58735" class="option payment"><span rel="Donate With Paypal" class="button-label"><span>Donate With <span class="paypal-pay">Pay</span><span class="paypal-pal">Pal</span></span></span></label>
				</div>
			   </div>
			</div>
		</div>
		<div id="payment-message"><p>Monthly gifts can only be made via credit card</p></div>
	</div>
    <div class="description"><p>By clicking "<span id="submit-value">Donate Now</span>" your credit card will be processed.</p></div>
  </div>
</div>

</div></form>
	    	  </div>

	</div><!-- id="innercontent" -->

</div><!-- /.node -->
                                                       </div>
            </div>

          <div class="clearfix"></div>

        </div><!--/content-->
      </div><!--/innerwrapper-->

    </div><!--/wrapper-->

   <footer role="contentinfo" class="region region-footer" id="footer-webform">
	<div class="inner width-container">
			<div class="inner-inner">
<div class="footer-content">

 <div class="top-wrapper">
  <ul id="top-block">
  <li class="top-block-item info">
    <div role="navigation" class="block block-menu" id="block-menu-menu-secondary-footer-menu">
    <ul class="menu">
      <li class="menu__item is-leaf first leaf">
                  <a href="https://www.aclu.org/aclu-site-user-agreement" class="menu__link active">User agreement</a>              </li>

              <li class="menu__item is-leaf leaf">
          <a href="https://www.aclu.org/american-civil-liberties-union-privacy-statement" class="menu__link active">Privacy statement</a>        </li>

              <li class="menu__item is-leaf leaf last"><a href="https://www.aclu.org/aclu-statement-accessibility" class="menu__link active">Accessibility</a></li>
          </ul>
  </div>
  <div class="block block-block last even" id="block-fine-print">

    <div class="fine-print">
              <p>This is the website of the American Civil Liberties Union and the American Civil Liberties Union Foundation.</p>
        <p><a href="https://www.aclu.org/donating-american-civil-liberties-union-and-aclu-foundation-what-difference">Learn more about these two components of the ACLU.</a></p>
            <p>&copy; 2017 ACLU</p></div>
  </div>
  </li>
  <li class="top-block-item social">
  <div role="navigation" class="block" id="block-menu-menu-social-links">
    <ul class="menu">

          <li class="menu__item is-leaf first leaf"><a href="https://www.facebook.com/aclu.nationwide" id="menu-item-facebook" class="menu__link">ACLU on Facebook</a></li>
      <li class="menu__item is-leaf leaf"><a href="https://twitter.com/aclu" id="menu-item-twitter" class="menu__link">ACLU on Twitter</a></li>
      <li class="menu__item is-leaf leaf"><a href="https://www.youtube.com/user/acluvideos" id="menu-item-youtube" class="menu__link">ACLU on Youtube</a></li>
      <li class="menu__item is-leaf last leaf"><a href="https://www.aclu.org/taxonomy/term/1/feed" id="menu-item-rss" class="menu__link">The ACLU RSS Feed</a></li>
      </ul>
  </div>
  <div class="block" id="block-footer-charity">

     <div class="charity"><p class="charity-nav"><a href="https://www.charitynavigator.org/index.cfm?bay=search.summary&amp;orgid=3247">Charity Navigator</a></p><p class="bbb-accredited"><a href="http://www.bbb.org/charity-reviews/national/civil-rights/american-civil-liberties-union-foundation-in-new-york-ny-227">BBB Accredited Charity</a></p></div>

  </div>

  </li>
  </ul>
 </div>


<div class="block" id="block-footer-logo">
  <div class="branding">
          <p class="logo-sitename">American Civil Liberties Union</p><p class="slogan">Because Freedom Can't Protect Itself</p>
      </div>
</div>

</div>
</div> <!--/inner-inner-->
</div> <!--/wide-container-->
</footer><!--/footer-->

  </div><!--/container-->

      <div id="closure-blocks" class="region region-closure"><div class="region region-closure-region">

<div id="block-aclu_blocks-sitecatalyst" class="block block-aclu_blocks first last region-odd odd region-count-1 count-1 block-block-sitecatalyst"><div class="block-inner">


  <div class="content clear-block">

<!-- SiteCatalyst code version: AppMeasurement 1.6.1 Copyright 1996-2016 Adobe, Inc. -->
<script language="javascript" type="text/javascript" src="/sites/all/libraries/sitecatalyst/AppMeasurement.js?r54y4et"></script>
<script language="javascript" type="text/javascript"><!--
s.pageName="Donate:58735:Donate to the ACLU";
s.channel="Donate";
s.prop1="Donate";
s.prop2="Donate";
s.prop3="Donate";
s.prop5="Donate to the ACLU";
s.prop6="58735";
s.hier2="Donate";
s.prop12="action.aclu.org";
/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
var s_code=s.t();if(s_code)document.write(s_code)//-->
</script>
<!-- End SiteCatalyst code -->
  </div>


</div></div>
</div><!-- /.region -->
</div>


</body>

</html>
