<!DOCTYPE html>
<html>
<head>
  <title>Saint Pablo</title>

  <style>
  body{
    background: url("http://s3.amazonaws.com/factmag-images/wp-content/uploads/2016/06/kanye-140616-616x417.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  </style>

</head>
</html>

<p class = "text-custom"> SAINT PABLO LETS YOU EASILY DONATE TO CHARITIES...AS LONG AS THOSE CHARITIES ARE PRE-APPROVED BY KAYNE WEST </p>

<a href="/sessions/login" class="button_3">Enter</a>
