<!DOCTYPE html>
<html>
<head>
  <title>Saint Pablo</title>

  <style>
  body{
    background: url("http://i.imgur.com/b1lfoa0.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  }

  </style>

</head>
</html>

<!-- <div class="wrapper">
<a href = "/sessions/login" class = "btn" class = "wrapper" type = "submit"> ENTER </a>
</div> -->


<a href="/explain" class="button_1">Explain</a>

<a href="/sessions/login" class="button_2">Enter</a>
