<!DOCTYPE html>
<html>
<head>
  <title>Saint Pablo</title>

  <style>
  body{
    background: url("http://i.imgur.com/b1lfoa0.jpg");
    background-size: 650px 650px;

  }

  </style>

</head>
</html>

<!-- <div class="wrapper">
<a href = "/sessions/login" class = "btn" class = "wrapper" type = "submit"> ENTER </a>
</div> -->


<a href="/explain" class="button_1">Explain</a>

<a href="/sessions/login" class="button_2">Enter</a>
